@import "../../styles/variables";
@import "../../styles/rwd";

.roadmap-comp {
  background-color: $odd-page-color;
  position: relative;

  &-container {
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    @include tablet {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.roadmap-comp-container .roadmap-comp-content {
  .vertical-timeline-element-icon {
    background: url("../../assets/icons/nft.png") no-repeat center;
    background-size: cover;
  }

  .vertical-timeline-element-title {
    font-size: 25px !important;
    font-weight: 600;
  }
}