@import "../../styles/variables";
@import "../../styles/rwd";

$roadmapIcon: ("1": "../../assets/icons/roadmapIcon1.png", "2": "../../assets/icons/roadmapIcon2.png", "3": "../../assets/icons/roadmapIcon3.png", "4": "../../assets/icons/roadmapIcon4.png");


.roadmap-comp {
  background-color: $even-page-color;
  position: relative;

  &-container {
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    @include tablet {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.roadmap-comp-container .roadmap-comp-content {
  .vertical-timeline-element--work {
    @each $child, $url in $roadmapIcon {
      &:nth-child(#{$child}) {
        .vertical-timeline-element-icon {
          background-image: url($url);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }

  .vertical-timeline-element-title {
    font-size: 25px !important;
    font-weight: 600;
  }
}