.slideshow-comp {
  padding-left: 0 !important;
  padding-right: 0 !important;

  &-slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  &-track {
    display: flex;
    width: calc(250px * 26);
    animation: sliderScrollRightToLeft 40s linear infinite;

    //&:hover {
    //  animation-play-state: paused;
    //}
  }

  &-slide {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 12px;

    img {
      width: 100%;
      transition: .1s;
      border-radius: 10px;
    }
  }
}

@keyframes sliderScrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 13));
  }
}