@import "../../styles/variables";
@import "../../styles/rwd";

.faq-comp {
  background-color: $even-page-color;

  &-container {
    padding-bottom: 24px;
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.faq-comp-container {
  background-color: transparent;
  box-shadow: unset;
  padding-top: 20px;
  padding-bottom: 20px;

  .accordion-item, .accordion-button {
    background-color: transparent;
    border: none;
  }

  .accordion-item:not(:first-child) {
    border-top: 1px solid #ffffff;
  }

  .accordion-button {
    font-weight: bold;
    box-shadow: unset !important;
  }
}

.faq-comp-container .accordion-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  @include flex-center;

  &-line {
    width: 20px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #000000;
    transition: .5s;

    &:nth-child(2) {
      transform: rotate(90deg);
    }
  }
}