@import "../../styles/variables";
@import "../../styles/rwd";

.faq-comp {
  background-color: $even-page-color;

  &-container {
    padding-bottom: 24px;
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.faq-comp-container .css-1elwnq4-MuiPaper-root-MuiAccordion-root,.css-67l5gl {
  background-color: transparent !important;
  box-shadow: unset !important;
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-comp-container .accordion-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  @include flex-center;

  &-line {
    width: 20px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #000000;
    transition: .5s;

    &:nth-child(2) {
      transform: rotate(90deg);
    }
  }
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper, .css-1fx8m19 {
  transform: unset !important;
  -webkit-transition: unset !important;
  transition: unset !important;
}

.Mui-expanded, .css-67l5gl.Mui-expanded{
  .accordion-toggle-line:nth-child(2) {
    transform: rotate(180deg);
  }
}