@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');
@import "./variables";
@import "./rwd";

* {
  font-family: 'Poppins', sans-serif !important;
}

.comp-height {
  position: relative;
  min-height: 100vh;
  padding-top: 79px;
  padding-bottom: 24px;
  @include mobile {
    padding-top: 56px !important;
  }
  @include tablet {
    padding-top: 56px !important;
  }
}

.footer-img {
  width: 100%;
  height: 512px;
  position: absolute;
  bottom: -511px;
  left: 0;

  .footer-img-item {
    width: 100%;
    height: 100%;
  }

  @include mobile {
    height: 128px;
    bottom: -127px;
  }
  @include tablet {
    height: 256px;
    bottom: -255px;
  }
}