$bg-color: #fb7578;
$primary-color: #a55eea;
$secondary-color: #26de81;
$third-color: #20bf6b;
$fourth-color: #3867d6;
$fifth-color: #45aaf2;

@mixin flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}