@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  background-color: $even-page-color;

  &-container {
    padding-top: 24px;
    min-height: calc(100vh - 79px - 48px);
    @include flex-center;
    @include mobile {
      min-height: calc(100vh - 59px - 48px);
      padding-left: 0 !important;
      padding-right: 0 !important;
      overflow: hidden;
    }
  }
}

.about-comp-container .about-comp-content {
  .about-comp-left {
    @include flex-center;
    z-index: 1;

    img {
      width: 90%;
      @include mobile {
        width: 100%;
      }
    }
  }

  .about-comp-right {
    z-index: 1;

    .title-container {
      border: 8px solid $primary-color;
      padding: 10px 20px;

      .title {
        font-size: 50px;
        color: #000000;
        font-weight: 700;
        text-align: right;
        @include mobile {
          text-align: center;
          font-size: 30px;
        }
      }
    }

    .content-container {
      margin-top: 24px;

      .content {
        font-size: 25px;
        line-height: 40px;
        font-weight: 400;
        text-align: justify;
        display: block;
        text-indent: 10px;

        &:first-letter {
          font-size: 30px;
          font-weight: 600;
        }

        &:not(:first-child) {
          margin-top: 12px;
        }

        @include mobile {
          font-size: 18px;
        }
      }
    }
  }
}