@import "../../styles/variables";
@import "../../styles/rwd";

.header-comp {
  background-color: transparent;

  &-menu {
    width: 100%;
    justify-content: space-around;

    .menu-item {
      color: #000000 !important;
      transition: .2s;
      width: 140px;
      text-align: center;
      border-radius: 10px;
      padding: 0 !important;
      line-height: 36px;

      &:nth-child(4) {
        font-weight: 700;
        font-size: 20px;
      }

      &:hover {
        background-color: #fff !important;
        color: #000 !important;
        letter-spacing: 5px;
      }
    }

    @include mobile {
      @include flex-center;
      .menu-item {
        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }

  &-container #responsive-navbar-nav {
    @include mobile {
      background-color: $fourth-color;
    }
    @include tablet {
      background-color: $fourth-color;
    }
  }

  &-toggle {
    position: relative !important;
    width: 40px;
    height: 40px;
    background-color: $fourth-color !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    @include flex-center;
    border-radius: 10px !important;
    overflow: hidden !important;
    color: unset !important;
    border: unset !important;
    display: none !important;

    .toggle-line {
      width: 30px !important;
      height: 4px;
      border-radius: 4px !important;
      position: absolute;
      background-color: #ffffff;
      transition: .5s;
      left: 5px;

      &:nth-child(1) {
        transform: translateY(-10px);
        width: 25px !important;
      }

      &:nth-child(2) {
        transform: translateY(10px);
        width: 15px !important;
      }
    }

    &:focus {
      outline: none !important;
    }

    @include mobile {
      display: block !important;
    }
    @include tablet {
      display: block !important;
    }
  }

  .header-comp-toggle.active .toggle-line:nth-child(1) {
    width: 30px !important;
    transform: translateY(0) rotate(45deg);
    transition-delay: .125s;
  }

  .header-comp-toggle.active .toggle-line:nth-child(2) {
    width: 30px !important;
    transform: translateY(0) rotate(315deg);
    transition-delay: .25s;
  }

  .header-comp-toggle.active .toggle-line:nth-child(3) {
    transform: translateX(50px);
  }

  @include mobile {
    &-container {
      justify-content: flex-end !important;
    }
  }
  @include tablet {
    &-container {
      justify-content: flex-end !important;
    }
  }
}

.header-active {
  background-color: $fourth-color;
  box-shadow: rgba(250, 250, 250, 0.2) 0 2px 8px 0;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  .menu-item {
    color: #ffffff !important;
  }
}

