@import "../../styles/variables";
@import "../../styles/rwd";

.collection-comp {
  background-color: $odd-page-color;
  position: relative;
  min-height: unset !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

  &-container {
    @include mobile {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .title-box-container .title {
    @include mobile {
      font-size: 40px;
    }
  }

  .slider-container {
    &:not(:first-child) {
      margin-top: 12px;
    }

    &:nth-child(3) {
      transform: scaleX(-1);
    }
  }
}