@import "../../styles/variables";
@import "../../styles/rwd";

.banner-comp {
  background-color: $primary-color;

  &-container {
    padding-top: 24px;
    min-height: calc(100vh - 79px - 24px);
    @include flex-center;
    @include mobile {
      min-height: calc(100vh - 56px - 24px);
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.banner-comp-container .banner-comp-content {
  &-left, &-right {
    @include flex-center;
  }

  &-left {
    @include flex-center;
    flex-direction: column;

    .left-top-container {
      @include flex-center;
      flex-direction: column;
      width: 100%;
    }

    .left-top-container .title-container {
      width: 100%;
      background-color: rgba(36, 44, 49, .5);
      border-radius: 30px;
      padding: 10px 15px;
      min-height: 350px;

      .Typewriter__wrapper, .Typewriter__cursor {
        font-size: 45px;
        @include mobile {
          font-size: 30px;
        }
      }

      .Typewriter__wrapper {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
      }

      .content {
        margin-top: 12px;
        font-size: 30px;
        color: #ffffff;
      }
    }

    .img-container {
      @include flex-center;

      img {
        width: 60%;
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &-right {
    flex-direction: column;

    .countdown-section {
      min-height: 200px;
      @include smallScreen {
        min-height: 200px !important;
      }
      @include mobile {
        min-height: 220px;
      }
    }

    .countdown-section .countdown-container {
      .countdown-title {
        color: #000000;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        @include smallScreen {
          font-size: 30px !important;
        }
        @include mobile {
          font-size: 30px;
        }
      }

      .countdown-detail {
        @include flex-center;
        margin-top: 12px;

        div {
          position: relative;
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          background-color: $fourth-color;
          color: #ffffff;
          margin: 0 15px;
          font-size: 30px;
          font-weight: 600;

          &:before {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 35px;
            background-color: $fifth-color;
            color: #000123;
            line-height: 35px;
            font-size: 15px;
          }

          @include smallScreen {
            width: 65px !important;
            height: 65px !important;
            line-height: 65px !important;
            margin: unset !important;
            font-size: 20px !important;
            &:not(:first-child) {
              margin-left: 10px !important;
            }
            &:before {
              font-size: 12px;
            }
          }

          @include mobile {
            width: 75px;
            height: 75px;
            line-height: 70px;
            margin: unset;
            font-size: 25px;
            &:not(:first-child) {
              margin-left: 15px;
            }
            &:before {
              font-size: 14px;
            }
          }
        }

        .days:before {
          content: 'Days';
        }

        .hours:before {
          content: 'Hours';
        }

        .minutes:before {
          content: 'Minutes';
        }

        .seconds:before {
          content: 'Seconds';
        }
      }
    }

    .content-right-bottom {
      margin-top: 24px;
      @include flex-center;

      .button-footer {
        margin-top: 24px;
        @include flex-center;

        .button-item {
          border-radius: 50px;
          position: relative;
          cursor: pointer;
          width: 200px;
          padding: 15px;
          @include flex-center;
          background-color: rgba(134, 139, 141, 1);
          transition: .5s;
          overflow: hidden;

          &:hover {
            background-color: $fifth-color;
            box-shadow: 0 0 10px $fifth-color, 0 0 20px $fifth-color, 0 0 30px $fifth-color, 0 0 40px $fifth-color;
          }

          &::before {
            content: '';
            position: absolute;
            height: 400%;
            background-color: $fifth-color;
            transition: .5s;
            animation: buttonAnimate 2s linear infinite;
            width: 40px;
            animation-delay: .33s;
            @include mobile {
              display: none;
            }
          }

          &:hover::before {
            width: 120%;
          }

          &::after {
            content: '';
            position: absolute;
            background-color: #0e1538;
            inset: 4px;
            border-radius: 50px;
          }

          &:hover::after {
            background-color: $fifth-color;
          }

          .btn-name {
            position: relative;
            z-index: 1;
            color: #ffffff;
            font-size: 25px;
            font-weight: 600;
            transition: .5s;
            letter-spacing: 5px;
          }

          &:hover .btn-name {
            opacity: 1;
          }
        }
      }
    }

    @include mobile {
      padding-top: 24px !important;
    }
  }
}

@keyframes buttonAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}